# Project 3

#### Importing Packages and Loading the Data

In [1]:
import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("Iowa_Liquor_sales_sample_10pct.csv")
df.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34
3,02/03/2016,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,$9.50,$14.25,6,$85.50,10.5,2.77
4,08/18/2015,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,$7.20,$10.80,12,$129.60,21.0,5.55

In [3]:
df.shape

(270955, 18)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                     270955 non-null object
Store Number             270955 non-null int64
City                     270955 non-null object
Zip Code                 270955 non-null object
County Number            269878 non-null float64
County                   269878 non-null object
Category                 270887 non-null float64
Category Name            270323 non-null object
Vendor Number            270955 non-null int64
Item Number              270955 non-null int64
Item Description         270955 non-null object
Bottle Volume (ml)       270955 non-null int64
State Bottle Cost        270955 non-null object
State Bottle Retail      270955 non-null object
Bottles Sold             270955 non-null int64
Sale (Dollars)           270955 non-null object
Volume Sold (Liters)     270955 non-null float64
Volume Sold (Gallons)    270955 non-null float64
dtypes: float64(4), int64(5), object(9)
memory usage: 37.2+ MB

## Cleaning the data

Task List:
* Remove "$" prices from characters and convert values to floats.
* Convert dates to pandas datetime objects
* Convert category floats to integers
* Drop or fill in bad values

##### Remove "$" prices from characters and convert values to floats

In [5]:
dollar_removal_cols = ["State Bottle Cost", "State Bottle Retail", "Sale (Dollars)"]

for col in dollar_removal_cols:
    df[col] = df[col].apply(lambda x: float(x[1:]))

In [6]:
df.head(2)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40

##### Convert dates to pandas datetime objects

In [7]:
df["Date"] = pd.to_datetime(df["Date"], format="%m/%d/%Y")
df.head(2)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40

In [8]:
df["Date"].max()

Timestamp('2016-03-31 00:00:00')

In [9]:
df["Date"].min()

Timestamp('2015-01-05 00:00:00')

##### Drop or replace 'bad' values

In [10]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269258 entries, 0 to 270954
Data columns (total 18 columns):
Date                     269258 non-null datetime64[ns]
Store Number             269258 non-null int64
City                     269258 non-null object
Zip Code                 269258 non-null object
County Number            269258 non-null float64
County                   269258 non-null object
Category                 269258 non-null float64
Category Name            269258 non-null object
Vendor Number            269258 non-null int64
Item Number              269258 non-null int64
Item Description         269258 non-null object
Bottle Volume (ml)       269258 non-null int64
State Bottle Cost        269258 non-null float64
State Bottle Retail      269258 non-null float64
Bottles Sold             269258 non-null int64
Sale (Dollars)           269258 non-null float64
Volume Sold (Liters)     269258 non-null float64
Volume Sold (Gallons)    269258 non-null float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(5)
memory usage: 39.0+ MB

##### Convert category floats to integers

In [11]:
df["County Number"] = df["County Number"].astype(int)
df["Category"] = df["Category"].astype(int)
df.head(2)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2015-11-04,3717,SUMNER,50674,9,Bremer,1051100,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38
1,2016-03-02,2614,DAVENPORT,52807,82,Scott,1011100,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40

## Filter the Data

Some stores may have opened or closed in 2015. These data points will heavily skew our models, so we need to filter them out or find a way to deal with them.

You'll need to provide a summary in your project report about these data points. You may also consider using the monthly sales in your model and including other information (number of months or days each store is open) in your data to handle these unusual cases.

Let's record the first and last sales dates for each store. We'll save this information for later when we fit our models.

##### Determine which stores were open all of 2015 - finding the first and last sale date

In [12]:
dates = df.groupby(by=["Store Number"], as_index=False)
dates = dates.agg({"Date": [np.min, np.max]})

##### For formatting purposes, this strips the empty cell above the first row

In [13]:
dates.columns = [' '.join(col).strip() for col in dates.columns.values]
dates.head()

   Store Number  Date amin  Date amax
0          2106 2015-01-08 2016-03-31
1          2113 2015-01-07 2016-03-23
2          2130 2015-01-08 2016-03-31
3          2152 2015-01-08 2016-02-25
4          2178 2015-01-07 2016-03-30

##### This code filters out stores that opened or closed during 2015 using a mask

Stores that opened after March 1st and stores that closed before October 1 are to be considered partial year stores

In [14]:
lower_cutoff = pd.Timestamp("20150301")
upper_cutoff = pd.Timestamp("20151001")

mask = (dates['Date amin'] < lower_cutoff) & (dates['Date amax'] > upper_cutoff)

good_stores = dates[mask]["Store Number"]

good_stores_df = df[df["Store Number"].isin(good_stores)]
# saving this mask for later per John's suggestion

In [15]:
good_stores_df.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2015-11-04,3717,SUMNER,50674,9,Bremer,1051100,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38
1,2016-03-02,2614,DAVENPORT,52807,82,Scott,1011100,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40
2,2016-02-11,2106,CEDAR FALLS,50613,7,Black Hawk,1011200,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,12.59,18.89,24,453.36,24.0,6.34
3,2016-02-03,2501,AMES,50010,85,Story,1071100,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,10.5,2.77
4,2015-08-18,3654,BELMOND,50421,99,Wright,1031080,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.0,5.55

In [16]:
good_stores_df.shape

(256181, 18)

In [17]:
df.shape

(269258, 18)

## Computing New Columns and Tables

Since we're trying to predict sales and/or profits, we'll want to compute some intermediate data. There are a lot of ways to do this and good use of pandas is crucial. For example, for each transaction we may want to know:
* unit margin, retail cost minus bottle cost
* gross margin - gross margin * bottles sold
* price per bottle
* price per liter

We'll need to make a new dataframe that indexes quantities by store:
* sales per store for all of 2015
* sales per store for Q1 2015
* sales per store for Q1 2016
* total volumes sold
* mean transaction revenue, gross margin, price per bottle, price per liter, etc.
* average sales per day
* number of days open (count of sales per store)

Make sure to retain other variables that we'll want to use to build our models, such as zip code, county number, city, etc. We recommend that you spend some time thinking about the model you may want to fit and computing enough of the suggested quantities to give you a few options.

Bonus tasks:
* Restrict your attention to stores that were open for all of 2015 and Q1 2016. Stores that opened or closed in 2015 will introduce outliers into your data.
* For each transaction we have the item category. You may be able to determine the store type (primarily wine, liquor, all types of alcohol, etc.) by the most common transaction category for each store. This could be a useful categorical variable for modelling.

##### Calculating Unit Margin

In [18]:
df["Unit_Margin"] = (df["State Bottle Retail"] - df["State Bottle Cost"])

##### Calculating Gross Margin

In [19]:
df["Gross_Margin"] = (df["State Bottle Retail"] - df["State Bottle Cost"]) * df["Bottles Sold"]

##### Revenue per Liter

In [20]:
df["Revenue_per_Liter"] = df["Sale (Dollars)"] / df["Volume Sold (Liters)"]

##### Gross Margin per Liter

In [21]:
df["Gross_Margin_per_Liter"] = ((df["State Bottle Retail"] - df["State Bottle Cost"]) 
                                * df["Bottles Sold"]) / df["Volume Sold (Liters)"]

Checking our DataFrame after new column additions

In [22]:
df.head(2)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,...,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Unit_Margin,Gross_Margin,Revenue_per_Liter,Gross_Margin_per_Liter
0,2015-11-04,3717,SUMNER,50674,9,Bremer,1051100,APRICOT BRANDIES,55,54436,...,4.50,6.75,12,81.00,9.0,2.38,2.25,27.00,9.000000,3.000000
1,2016-03-02,2614,DAVENPORT,52807,82,Scott,1011100,BLENDED WHISKIES,395,27605,...,13.75,20.63,2,41.26,1.5,0.40,6.88,13.76,27.506667,9.173333

##### Calculating Sales per Store for 2015

Step 1 - Filtering by start and end dates (January 1, 2015 and December 31, 2015, respectively)

In [23]:
df.sort_values(by=["Store Number", "Date"], inplace=True)

start_date = pd.Timestamp("20150101")
end_date = pd.Timestamp("20151231")

sales_mask_2015 = (df['Date'] >= start_date) & (df['Date'] <= end_date)
sales_2015_df = df[sales_mask_2015]

Step 2 - Group by Store Number

In [24]:
sales_2015_df = sales_2015_df.groupby(by="Store Number", as_index=False)

Step 3 - Compute sums, means for key metrics and collapse the column indicies

In [25]:
sales_2015_df = sales_2015_df.agg({"Sale (Dollars)": [np.sum, np.mean],
                                   "Volume Sold (Liters)": [np.sum, np.mean],
                                   "Unit_Margin": np.mean,
                                   "Gross_Margin": [np.sum, np.mean],
                                   "Revenue_per_Liter": np.mean,
                                   "Gross_Margin_per_Liter": np.mean,
                                   "Zip Code": lambda x: x.iloc[0], # just extract once, should be the same
                                   "City": lambda x: x.iloc[0],
                                   "County Number": lambda x: x.iloc[0],
                                   "County": lambda x: x.iloc[0],
                                   "Category": lambda x: x.iloc[0],
                                   "Category Name": lambda x: x.iloc[0],
                                   "Vendor Number": lambda x: x.iloc[0],
                                   "Item Number": lambda x: x.iloc[0],
                                   "State Bottle Cost": np.mean,
                                   "State Bottle Retail": np.mean,
                                   "Bottles Sold": [np.sum, np.mean],
                                  })

sales_2015_df.columns = [' '.join(col).strip() for col in sales_2015_df.columns.values]

sales_2015_df.head(2)

,Store Number,Gross_Margin_per_Liter mean,City <lambda>,Sale (Dollars) sum,Sale (Dollars) mean,Revenue_per_Liter mean,Vendor Number <lambda>,Zip Code <lambda>,Unit_Margin mean,Category <lambda>,...,Gross_Margin mean,County Number <lambda>,Item Number <lambda>,Category Name <lambda>,State Bottle Cost mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,State Bottle Retail mean,Bottles Sold sum,Bottles Sold mean
0,2106,5.957151,CEDAR FALLS,146038.70,277.640114,17.844997,35,50613,5.160951,1062200,...,92.665779,7,43127,PUERTO RICO & VIRGIN ISLANDS RUM,10.298783,9719.85,18.478802,15.459734,10355,19.686312
1,2113,6.173900,GOWRIE,9310.22,63.334830,18.507700,260,50543,5.445102,1062310,...,21.149932,94,43334,SPICED RUM,10.870544,659.85,4.488776,16.315646,671,4.564626

In [26]:
sales_2015_df.columns

Index([u'Store Number', u'Gross_Margin_per_Liter mean', u'City <lambda>',
       u'Sale (Dollars) sum', u'Sale (Dollars) mean',
       u'Revenue_per_Liter mean', u'Vendor Number <lambda>',
       u'Zip Code <lambda>', u'Unit_Margin mean', u'Category <lambda>',
       u'County <lambda>', u'Gross_Margin sum', u'Gross_Margin mean',
       u'County Number <lambda>', u'Item Number <lambda>',
       u'Category Name <lambda>', u'State Bottle Cost mean',
       u'Volume Sold (Liters) sum', u'Volume Sold (Liters) mean',
       u'State Bottle Retail mean', u'Bottles Sold sum', u'Bottles Sold mean'],
      dtype='object')

In [27]:
sales_2015_df['Store Number'].count()

1372

In [28]:
sales_2015_df.shape

(1372, 22)

In [29]:
sales_2015_df = sales_2015_df.rename(index=str, columns={"Zip Code <lambda>": "Zip_Code",})

In [30]:
sales_2015_df.groupby(by='Zip_Code', as_index=False).agg({'Store Number': 'count'})

    Zip_Code  Store Number
0      50002             2
1      50003             3
2      50006             2
3      50009             9
4      50010            21
5      50014             4
6      50020             2
7      50021            12
8      50022             6
9      50023             9
10     50025             2
11     50028             2
12     50033             1
13     50035             1
14     50036             9
15     50044             1
16     50046             1
17     50047             2
18     50048             1
19     50049             2
20     50054             2
21     50056             1
22     50058             2
23     50060             1
24     50061             1
25     50069             2
26     50071             1
27     50072             1
28     50075             1
29     50076             1
..       ...           ...
379    52639             2
380    52641             5
381    52653             3
382    52655             5
383    52656             1
384    52722            12
385    52726             1
386    52728             1
387    52730             1
388    52732             8
389    52733             2
390    52738             2
391    52742             2
392    52747             1
393    52748             4
394    52751             1
395    52753             5
396    52761            15
397    52768             1
398    52772             3
399    52776             3
400    52777             1
401    52778             2
402    52802             8
403    52803             6
404    52804            10
405    52806             8
406    52807             9
407    56201             1
408    712-2             1

[409 rows x 2 columns]

In [31]:
sales_by_zip_df = sales_2015_df.groupby(by='Zip_Code', as_index=False).agg({'Store Number': 'count'})
sales_by_zip_df

    Zip_Code  Store Number
0      50002             2
1      50003             3
2      50006             2
3      50009             9
4      50010            21
5      50014             4
6      50020             2
7      50021            12
8      50022             6
9      50023             9
10     50025             2
11     50028             2
12     50033             1
13     50035             1
14     50036             9
15     50044             1
16     50046             1
17     50047             2
18     50048             1
19     50049             2
20     50054             2
21     50056             1
22     50058             2
23     50060             1
24     50061             1
25     50069             2
26     50071             1
27     50072             1
28     50075             1
29     50076             1
..       ...           ...
379    52639             2
380    52641             5
381    52653             3
382    52655             5
383    52656             1
384    52722            12
385    52726             1
386    52728             1
387    52730             1
388    52732             8
389    52733             2
390    52738             2
391    52742             2
392    52747             1
393    52748             4
394    52751             1
395    52753             5
396    52761            15
397    52768             1
398    52772             3
399    52776             3
400    52777             1
401    52778             2
402    52802             8
403    52803             6
404    52804            10
405    52806             8
406    52807             9
407    56201             1
408    712-2             1

[409 rows x 2 columns]

In [32]:
sales_by_zip_df.shape

(409, 2)

In [33]:
sales_by_zip_df.columns

Index([u'Zip_Code', u'Store Number'], dtype='object')

In [34]:
type(sales_by_zip_df)

pandas.core.frame.DataFrame

In [35]:
sales_by_zip_df['Store Number'].sum()

1372

##### Merging 2 dataframes of different size

In [36]:
# This WORKS!  Need another column - competitors = Stores in zip minus 1

# A.merge(B, left_on='lkey', right_on='rkey', how='inner')
test1_df = sales_2015_df.merge(sales_by_zip_df, left_on='Zip_Code', right_on='Zip_Code', how='inner')
test1_df

,Store Number_x,Gross_Margin_per_Liter mean,City <lambda>,Sale (Dollars) sum,Sale (Dollars) mean,Revenue_per_Liter mean,Vendor Number <lambda>,Zip_Code,Unit_Margin mean,Category <lambda>,...,County Number <lambda>,Item Number <lambda>,Category Name <lambda>,State Bottle Cost mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,State Bottle Retail mean,Bottles Sold sum,Bottles Sold mean,Store Number_y
0,2106,5.957151,CEDAR FALLS,146038.70,277.640114,17.844997,35,50613,5.160951,1062200,...,7,43127,PUERTO RICO & VIRGIN ISLANDS RUM,10.298783,9719.85,18.478802,15.459734,10355,19.686312,16
1,2572,6.285143,CEDAR FALLS,98831.43,75.965742,18.800332,410,50613,5.007233,1082900,...,7,64736,MISC. IMPORTED CORDIALS & LIQUEURS,9.967925,6080.74,4.673897,14.975158,6549,5.033820,16
2,2835,4.842733,CEDAR FALLS,11751.32,102.185391,14.460961,434,50613,5.394435,1041100,...,7,31658,AMERICAN DRY GINS,10.714000,991.50,8.621739,16.108435,790,6.869565,16
3,3769,4.508190,CEDAR FALLS,55042.92,174.739429,13.478561,259,50613,4.978190,1062310,...,7,43026,SPICED RUM,9.897619,4584.00,14.552381,14.875810,3936,12.495238,16
4,3995,6.029937,CEDAR FALLS,43059.99,219.693827,18.072485,260,50613,5.384694,1031200,...,7,77648,VODKA FLAVORED,10.755816,3022.00,15.418367,16.140510,3242,16.540816,16
5,4119,6.532637,CEDAR FALLS,7169.42,183.831282,19.591941,434,50613,5.784103,1031080,...,7,36308,VODKA 80 PROOF,11.563077,403.00,10.333333,17.347179,424,10.871795,16
6,4147,5.051960,CEDAR FALLS,32616.23,221.879116,15.117512,85,50613,4.858163,1011300,...,7,86670,TENNESSEE WHISKIES,9.663605,3340.50,22.724490,14.521769,2342,15.931973,16
7,4590,4.474135,CEDAR FALLS,2834.86,109.033077,13.305957,434,50613,3.552308,1031080,...,7,36308,VODKA 80 PROOF,6.978077,230.40,8.861538,10.530385,284,10.923077,16
8,4631,4.973834,CEDAR FALLS,3995.99,102.461282,14.880061,421,50613,4.793077,1081600,...,7,64858,WHISKEY LIQUEUR,9.547692,362.05,9.283333,14.340769,403,10.333333,16
9,4723,4.848254,CEDAR FALLS,1405.32,156.146667,14.489312,115,50613,4.835556,1012100,...,7,11788,CANADIAN WHISKIES,9.580000,105.00,11.666667,14.415556,108,12.000000,16
10,4907,5.598566,CEDAR FALLS,7768.07,80.917396,16.763657,115,50613,3.909167,1012100,...,7,10552,CANADIAN WHISKIES,7.796042,630.28,6.565417,11.705208,971,10.114583,16
11,4914,4.819141,CEDAR FALLS,9152.07,99.479022,14.435424,297,50613,3.381087,1031080,...,7,35926,VODKA 80 PROOF,6.735217,755.55,8.212500,10.116304,1197,13.010870,16
12,4932,5.089198,CEDAR FALLS,9197.58,104.517955,15.187472,260,50613,3.647955,1031200,...,7,77740,VODKA FLAVORED,7.230568,711.81,8.088750,10.878523,1012,11.500000,16
13,4958,6.152857,CEDAR FALLS,11312.56,57.424162,18.421455,380,50613,4.586701,1031200,...,7,41692,VODKA FLAVORED,9.136853,768.63,3.901675,13.723553,1288,6.538071,16
14,4959,5.768022,CEDAR FALLS,26035.06,150.491676,17.229104,260,50613,4.467630,1031200,...,7,77683,VODKA FLAVORED,8.855029,1897.20,10.966474,13.322659,2369,13.693642,16
15,4988,7.734273,CEDAR FALLS,49640.33,56.473641,23.152256,65,50613,5.709352,1071100,...,7,63359,AMERICAN COCKTAILS,11.378919,2780.32,3.163049,17.088271,3203,3.643914,16
16,2113,6.173900,GOWRIE,9310.22,63.334830,18.507700,260,50543,5.445102,1062310,...,94,43334,SPICED RUM,10.870544,659.85,4.488776,16.315646,671,4.564626,2
17,5141,6.879405,GOWRIE,1009.44,84.120000,20.483492,192,50543,3.458333,1082900,...,94,65254,MISC. IMPORTED CORDIALS & LIQUEURS,6.803333,61.71,5.142500,10.261667,93,7.750000,2
18,2130,5.610875,WATERLOO,111583.91,285.380844,16.817589,260,50703,4.918005,1081390,...,7,69947,IMPORTED SCHNAPPS,9.822762,6879.37,17.594297,14.740767,7418,18.971867,16
19,2571,5.423632,WATERLOO,80618.12,161.236240,16.225966,380,50703,4.795220,1031200,...,7,41694,VODKA FLAVORED,9.538160,5823.65,11.647300,14.333380,6764,13.528000,16
20,2836,4.660081,WATERLOO,2330.58,52.967727,13.974959,260,50703,4.648864,1031080,...,7,37994,VODKA 80 PROOF,9.293409,206.37,4.690227,13.942273,171,3.886364,16
21,4077,7.961327,WATERLOO,16559.96,131.428254,23.874392,260,50703,4.190635,1032200,...,7,64722,IMPORTED VODKA - MISC,8.377619,785.50,6.234127,12.568254,2328,18.476190,16
22,4085,6.256400,WATERLOO,3332.56,133.302400,18.764133,205,50703,2.329600,1051010,...,7,52594,AMERICAN GRAPE BRANDIES,4.657600,186.70,7.468000,6.987200,646,25.840000,16
23,4214,6.252247,WATERLOO,23850.46,115.778932,18.740999,370,50703,3.487718,1032080,...,7,34007,IMPORTED VODKA,6.967379,1483.08,7.199417,10.455097,4138,20.087379,16
24,4470,4.801062,WATERLOO,1954.95,75.190385,14.380183,260,50703,3.015000,1062310,...,7,43336,SPICED RUM,5.997308,170.24,6.547692,9.012308,191,7.346154,16
25,4502,6.531525,WATERLOO,12070.30,86.216429,19.573584,421,50703,3.252571,1071100,...,7,59037,AMERICAN COCKTAILS,6.494571,781.80,5.584286,9.747143,2194,15.671429,16
26,4648,8.341982,WATERLOO,48383.45,265.843132,24.995235,389,50703,4.379286,1052010,...,7,49186,IMPORTED GRAPE BRANDIES,8.736209,1983.87,10.900385,13.115495,5336,29.318681,16
27,4759,4.113968,WATERLOO,1621.08,90.060000,12.336931,434,50703,4.239444,1031080,...,7,36305,VODKA 80 PROOF,8.473889,164.25,9.125000,12.713333,147,8.166667,16
28,4900,7.065603,WATERLOO,14796.63,76.271289,21.177496,300,50703,3.215670,1031080,...,7,36904,VODKA 80 PROOF,6.420773,801.63,4.132113,9.636443,2165,11.159794,16
29,4902,7.102894,WATERLOO,10655.42,88.795167,21.297215,85,50703,3.388250,1011300,...,7,86669,TENNESSEE WHISKIES,6.773000,570.93,4.757750,10.161250,1734,14.450000,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1342,5026,4.018387,NORTH ENGLISH,1301.32,40.666250,12.048961,395,52316,3.571562,1071100,...,48,58838,AMERICAN COCKTAILS,7.138125,161.63,5.050937,10.709687,141,4.406250,1
1343,5031,6.547992,RAYMOND,6025.64,50.635630,19.635229,35,50667,4.755042,1062300,...,7,43116,FLAVORED RUM,9.504958,376.57,3.164454,14.260000,545,4.579832,1
1344,5040,5.415482,WILTON,2133.84,112.307368,16.238722,259,52778,3.364737,1062310,...,70,43026,SPICED RUM,6.725263,140.24,7.381053,10.090000,230,12.105263,2
1345,5070,4.698867,WILTON,6691.12,29.476300,14.057682,421,52778,3.882952,1031080,...,70,36976,VODKA 80 PROOF,7.725771,635.19,2.798194,11.608722,634,2.792952,2
1346,5044,6.356098,CRESCENT,2109.99,95.908636,18.998977,420,51526,4.113182,1052010,...,78,48105,IMPORTED GRAPE BRANDIES,8.155909,144.14,6.551818,12.269091,196,8.909091,1
1347,5048,5.272429,ROLFE,1566.34,78.317000,15.811714,55,50581,4.763000,1031080,...,76,35318,VODKA 80 PROOF,9.521000,129.25,6.462500,14.284000,112,5.600000,1
1348,5050,5.315368,CARLISLE,23639.01,195.363719,15.869189,370,50047,4.695372,1032200,...,91,33966,IMPORTED VODKA - MISC,9.305207,2137.00,17.661157,14.000579,1723,14.239669,2
1349,5109,5.489211,CARLISLE,2231.37,117.440526,16.363766,370,50047,2.701579,1062300,...,91,42716,FLAVORED RUM,5.328421,174.97,9.208947,8.030000,417,21.947368,2
1350,5054,5.848875,MANCHESTER,41078.22,129.176792,17.518206,260,52087,5.128365,1081380,...,28,67296,MISCELLANEOUS SCHNAPPS,10.229245,2966.00,9.327044,15.357610,3076,9.672956,1
1351,5055,3.173605,LATIMER,1033.02,147.574286,9.474014,380,50452,4.910000,1031080,...,35,37338,VODKA 80 PROOF,9.740000,114.00,16.285714,14.650000,72,10.285714,1
1352,5059,5.025099,HUMESTON,2418.45,100.768750,15.044777,115,50123,3.047500,1012100,...,93,11788,CANADIAN WHISKIES,6.057083,227.57,9.482083,9.104583,306,12.750000,1
1353,5062,5.334874,MONTROSE,1610.61,94.741765,15.895070,434,52639,3.075294,1031080,...,56,36306,VODKA 80 PROOF,6.070000,110.40,6.494118,9.145294,210,12.352941,2
1354,5213,6.250000,MONTROSE,180.00,180.000000,18.750000,260,52639,1.250000,1062310,...,56,43333,SPICED RUM,2.500000,9.60,9.600000,3.750000,48,48.000000,2
1355,5064,4.992698,FAIRFAX,3293.81,109.793667,14.972381,301,52228,3.241667,1031080,...,57,38176,VODKA 80 PROOF,6.479333,254.25,8.475000,9.721000,358,11.933333,1
1356,5071,4.948458,DURANT,7149.19,36.662513,14.812274,370,52747,4.237538,1032080,...,16,34006,IMPORTED VODKA,8.442974,615.77,3.157795,12.680513,667,3.420513,1
1357,5075,5.690000,NEW SHARON,1656.08,87.162105,17.063684,434,50207,4.779474,1031080,...,62,36306,VODKA 80 PROOF,9.554211,111.75,5.881579,14.333684,129,6.789474,1
1358,5088,5.648617,HOSPERS,2015.45,95.973810,16.919904,410,51238,3.567143,1022100,...,84,88294,TEQUILA,7.094762,161.14,7.673333,10.661905,177,8.428571,1
1359,5115,4.292432,MANLY,2205.14,78.755000,12.873282,395,50456,3.471786,1062310,...,98,46506,SPICED RUM,6.940357,173.70,6.203571,10.412143,278,9.928571,1
1360,5119,4.512540,CORWITH,2690.94,112.122500,13.437302,305,50430,5.241667,1081200,...,41,73055,CREAM LIQUEURS,10.347083,226.75,9.447917,15.588750,163,6.791667,1
1361,5138,5.635863,KELLOGG,2751.57,50.955000,16.898162,260,50135,4.076296,1011100,...,50,25608,BLENDED WHISKIES,8.147593,191.50,3.546296,12.223889,325,6.018519,1
1362,5142,6.884988,CEDAR RAPIDS,7390.55,25.137925,20.638048,65,52303,3.314524,1011200,...,57,19063,STRAIGHT BOURBON WHISKIES,6.619762,507.10,1.724830,9.934286,957,3.255102,1
1363,5147,5.430215,VICTOR,3424.14,81.527143,16.257630,115,52347,4.458810,1012100,...,79,11788,CANADIAN WHISKIES,8.872143,253.75,6.041667,13.330952,269,6.404762,2
1364,5150,5.791597,VICTOR,1391.04,81.825882,17.343417,395,52347,3.863529,1022100,...,79,89199,TEQUILA,7.678235,100.50,5.911765,11.541765,120,7.058824,2
1365,5171,5.255238,DELAWARE,2301.62,177.047692,15.704396,55,52036,4.230000,1031080,...,28,35316,VODKA 80 PROOF,8.362308,178.50,13.730769,12.592308,184,14.153846,1
1366,5175,9.517222,DELHI,224.91,37.485000,28.543333,192,52223,3.601667,1082900,...,28,65254,MISC. IMPORTED CORDIALS & LIQUEURS,7.201667,7.70,1.283333,10.803333,23,3.833333,1
1367,5177,10.375238,MINDEN,573.21,114.642000,31.113690,420,51553,4.986000,1052010,...,78,48105,IMPORTED GRAPE BRANDIES,9.966000,26.24,5.248000,14.952000,42,8.400000,1
1368,5190,6.308190,WALFORD,1161.73,77.448667,18.917079,115,52351,4.940667,1012100,...,57,11786,CANADIAN WHISKIES,9.875333,69.75,4.650000,14.816000,85,5.666667,1
1369,5192,6.666667,ROBINS,90.00,90.000000,20.000000,322,52328,5.000000,1081900,...,57,75211,MISC. AMERICAN CORDIALS & LIQUEURS,10.000000,4.50,4.500000,15.000000,6,6.000000,1
1370,5193,5.057778,LOHRVILLE,139.50,46.500000,15.164444,65,51453,3.793333,1011200,...,13,19066,STRAIGHT BOURBON WHISKIES,7.580000,9.00,3.000000,11.373333,12,4.000000,1
1371,9013,5.653333,Cumming,2217.48,554.370000,16.950000,154,50061,4.240000,1031080,...,91,36447,VODKA 80 PROOF,8.472500,171.00,42.750000,12.712500,228,57.000000,1

In [37]:
test1_df.shape

(1372, 23)

### Groupbys and Pivot Tables

In [38]:
# old_names = ['$a', '$b', '$c', '$d', '$e'] 
# new_names = ['a', 'b', 'c', 'd', 'e']
# df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [39]:
test1_df.columns

Index([u'Store Number_x', u'Gross_Margin_per_Liter mean', u'City <lambda>',
       u'Sale (Dollars) sum', u'Sale (Dollars) mean',
       u'Revenue_per_Liter mean', u'Vendor Number <lambda>', u'Zip_Code',
       u'Unit_Margin mean', u'Category <lambda>', u'County <lambda>',
       u'Gross_Margin sum', u'Gross_Margin mean', u'County Number <lambda>',
       u'Item Number <lambda>', u'Category Name <lambda>',
       u'State Bottle Cost mean', u'Volume Sold (Liters) sum',
       u'Volume Sold (Liters) mean', u'State Bottle Retail mean',
       u'Bottles Sold sum', u'Bottles Sold mean', u'Store Number_y'],
      dtype='object')

In [40]:
test1_df.rename(columns=lambda x: x.lstrip(), inplace=True)
test1_df.head(2)

,Store Number_x,Gross_Margin_per_Liter mean,City <lambda>,Sale (Dollars) sum,Sale (Dollars) mean,Revenue_per_Liter mean,Vendor Number <lambda>,Zip_Code,Unit_Margin mean,Category <lambda>,...,County Number <lambda>,Item Number <lambda>,Category Name <lambda>,State Bottle Cost mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,State Bottle Retail mean,Bottles Sold sum,Bottles Sold mean,Store Number_y
0,2106,5.957151,CEDAR FALLS,146038.70,277.640114,17.844997,35,50613,5.160951,1062200,...,7,43127,PUERTO RICO & VIRGIN ISLANDS RUM,10.298783,9719.85,18.478802,15.459734,10355,19.686312,16
1,2572,6.285143,CEDAR FALLS,98831.43,75.965742,18.800332,410,50613,5.007233,1082900,...,7,64736,MISC. IMPORTED CORDIALS & LIQUEURS,9.967925,6080.74,4.673897,14.975158,6549,5.033820,16

In [41]:
test1_df.columns

Index([u'Store Number_x', u'Gross_Margin_per_Liter mean', u'City <lambda>',
       u'Sale (Dollars) sum', u'Sale (Dollars) mean',
       u'Revenue_per_Liter mean', u'Vendor Number <lambda>', u'Zip_Code',
       u'Unit_Margin mean', u'Category <lambda>', u'County <lambda>',
       u'Gross_Margin sum', u'Gross_Margin mean', u'County Number <lambda>',
       u'Item Number <lambda>', u'Category Name <lambda>',
       u'State Bottle Cost mean', u'Volume Sold (Liters) sum',
       u'Volume Sold (Liters) mean', u'State Bottle Retail mean',
       u'Bottles Sold sum', u'Bottles Sold mean', u'Store Number_y'],
      dtype='object')

In [42]:
test1_df.columns = test1_df.columns.str.replace(' <lambda>', '')
test1_df.columns

Index([u'Store Number_x', u'Gross_Margin_per_Liter mean', u'City',
       u'Sale (Dollars) sum', u'Sale (Dollars) mean',
       u'Revenue_per_Liter mean', u'Vendor Number', u'Zip_Code',
       u'Unit_Margin mean', u'Category', u'County', u'Gross_Margin sum',
       u'Gross_Margin mean', u'County Number', u'Item Number',
       u'Category Name', u'State Bottle Cost mean',
       u'Volume Sold (Liters) sum', u'Volume Sold (Liters) mean',
       u'State Bottle Retail mean', u'Bottles Sold sum', u'Bottles Sold mean',
       u'Store Number_y'],
      dtype='object')

In [43]:
test1_df.head(2)

,Store Number_x,Gross_Margin_per_Liter mean,City,Sale (Dollars) sum,Sale (Dollars) mean,Revenue_per_Liter mean,Vendor Number,Zip_Code,Unit_Margin mean,Category,...,County Number,Item Number,Category Name,State Bottle Cost mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,State Bottle Retail mean,Bottles Sold sum,Bottles Sold mean,Store Number_y
0,2106,5.957151,CEDAR FALLS,146038.70,277.640114,17.844997,35,50613,5.160951,1062200,...,7,43127,PUERTO RICO & VIRGIN ISLANDS RUM,10.298783,9719.85,18.478802,15.459734,10355,19.686312,16
1,2572,6.285143,CEDAR FALLS,98831.43,75.965742,18.800332,410,50613,5.007233,1082900,...,7,64736,MISC. IMPORTED CORDIALS & LIQUEURS,9.967925,6080.74,4.673897,14.975158,6549,5.033820,16

In [44]:
test1_df = test1_df.rename(index=str, columns={"Store Number_y": "Competitors_per_Zip",})
test1_df.head(2)

,Store Number_x,Gross_Margin_per_Liter mean,City,Sale (Dollars) sum,Sale (Dollars) mean,Revenue_per_Liter mean,Vendor Number,Zip_Code,Unit_Margin mean,Category,...,County Number,Item Number,Category Name,State Bottle Cost mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,State Bottle Retail mean,Bottles Sold sum,Bottles Sold mean,Competitors_per_Zip
0,2106,5.957151,CEDAR FALLS,146038.70,277.640114,17.844997,35,50613,5.160951,1062200,...,7,43127,PUERTO RICO & VIRGIN ISLANDS RUM,10.298783,9719.85,18.478802,15.459734,10355,19.686312,16
1,2572,6.285143,CEDAR FALLS,98831.43,75.965742,18.800332,410,50613,5.007233,1082900,...,7,64736,MISC. IMPORTED CORDIALS & LIQUEURS,9.967925,6080.74,4.673897,14.975158,6549,5.033820,16

In [45]:
test1_df['Competitors_per_Zip'] = (test1_df['Competitors_per_Zip'] - 1)

In [46]:
test1_df.head(2)

,Store Number_x,Gross_Margin_per_Liter mean,City,Sale (Dollars) sum,Sale (Dollars) mean,Revenue_per_Liter mean,Vendor Number,Zip_Code,Unit_Margin mean,Category,...,County Number,Item Number,Category Name,State Bottle Cost mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,State Bottle Retail mean,Bottles Sold sum,Bottles Sold mean,Competitors_per_Zip
0,2106,5.957151,CEDAR FALLS,146038.70,277.640114,17.844997,35,50613,5.160951,1062200,...,7,43127,PUERTO RICO & VIRGIN ISLANDS RUM,10.298783,9719.85,18.478802,15.459734,10355,19.686312,15
1,2572,6.285143,CEDAR FALLS,98831.43,75.965742,18.800332,410,50613,5.007233,1082900,...,7,64736,MISC. IMPORTED CORDIALS & LIQUEURS,9.967925,6080.74,4.673897,14.975158,6549,5.033820,15

In [47]:
test1_df.columns

Index([u'Store Number_x', u'Gross_Margin_per_Liter mean', u'City',
       u'Sale (Dollars) sum', u'Sale (Dollars) mean',
       u'Revenue_per_Liter mean', u'Vendor Number', u'Zip_Code',
       u'Unit_Margin mean', u'Category', u'County', u'Gross_Margin sum',
       u'Gross_Margin mean', u'County Number', u'Item Number',
       u'Category Name', u'State Bottle Cost mean',
       u'Volume Sold (Liters) sum', u'Volume Sold (Liters) mean',
       u'State Bottle Retail mean', u'Bottles Sold sum', u'Bottles Sold mean',
       u'Competitors_per_Zip'],
      dtype='object')

##### This allows you display all of the columns

In [49]:
pd.set_option("display.max_columns",999)

In [50]:
test1_df.head(2)

,Store Number_x,Gross_Margin_per_Liter mean,City,Sale (Dollars) sum,Sale (Dollars) mean,Revenue_per_Liter mean,Vendor Number,Zip_Code,Unit_Margin mean,Category,County,Gross_Margin sum,Gross_Margin mean,County Number,Item Number,Category Name,State Bottle Cost mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,State Bottle Retail mean,Bottles Sold sum,Bottles Sold mean,Competitors_per_Zip
0,2106,5.957151,CEDAR FALLS,146038.70,277.640114,17.844997,35,50613,5.160951,1062200,Black Hawk,48742.20,92.665779,7,43127,PUERTO RICO & VIRGIN ISLANDS RUM,10.298783,9719.85,18.478802,15.459734,10355,19.686312,15
1,2572,6.285143,CEDAR FALLS,98831.43,75.965742,18.800332,410,50613,5.007233,1082900,Black Hawk,33027.37,25.386141,7,64736,MISC. IMPORTED CORDIALS & LIQUEURS,9.967925,6080.74,4.673897,14.975158,6549,5.033820,15

### Groupby and Pivot Tables

In [58]:
# Need to clean up column names

In [53]:
zip_sum1_df = test1_df.groupby(by='Zip_Code', 
                               as_index=False).agg({'Volume Sold (Liters) sum': np.sum, #zip vols
                                                    'Volume Sold (Liters) mean': np.mean, #avg store vol
                                                    'Bottles Sold sum': np.sum, #total bottles for zip
                                                    'Bottles Sold mean': np.mean, #bottles/store
        
                                                    'Sale (Dollars) sum': np.sum, #gross sales for zip
                                                    'Sale (Dollars) mean': np.mean, #sales per store
                                                    'State Bottle Retail mean': np.mean, #avg sales price
                                                    'Revenue_per_Liter mean': np.mean, #avg rev per liter
                                                                   
                                                    'Gross_Margin sum': np.sum, #Total Gross Margin $s in zip
                                                    'Gross_Margin mean': np.mean, #Average GM per store
                                                    'Gross_Margin_per_Liter mean': np.mean, #Avg GM per liter
                                                    'Unit_Margin mean': np.mean, #Average Unit Margin (bottle)
                                                    })

zip_sum1_df

,Zip_Code,Unit_Margin mean,Volume Sold (Liters) mean,Gross_Margin_per_Liter mean,Bottles Sold sum,Gross_Margin sum,Sale (Dollars) mean,Bottles Sold mean,Revenue_per_Liter mean,State Bottle Retail mean,Sale (Dollars) sum,Volume Sold (Liters) sum,Gross_Margin mean
0,50002,3.799471,8.950962,5.468338,498,1663.48,129.295865,13.971154,16.334449,11.311010,4958.04,335.85,43.327853
1,50003,3.491705,10.458894,5.010616,2918,12734.43,136.528786,14.241261,15.009619,10.447933,38095.16,2737.52,45.606403
2,50006,4.715833,10.957363,5.102517,640,3369.97,137.555330,13.791209,15.282394,14.121474,10086.97,719.24,45.921813
3,50009,5.212057,10.726930,6.251109,17953,80566.24,164.469586,11.455541,18.717742,15.599463,241028.59,16284.00,54.957015
4,50010,4.838088,10.015967,6.010113,53617,258178.25,138.746251,10.391464,17.998099,14.482519,772044.25,52520.63,46.394115
5,50014,5.672069,7.601680,6.430975,3083,13423.74,110.536308,8.165572,19.257055,16.988671,40206.10,2871.26,36.897423
6,50020,4.100506,7.779466,5.055149,704,2907.57,87.607652,9.740829,15.157084,12.294948,8716.27,686.60,29.225108
7,50021,4.887499,12.504997,5.729734,26546,140000.28,185.192100,12.252743,17.149486,14.617388,417794.83,28782.22,62.020481
8,50022,4.619031,10.235515,5.358665,6849,31164.05,120.998894,10.427229,16.053641,13.830538,93176.80,7199.92,40.544068
9,50023,4.775067,6.403562,5.840266,12093,60094.78,86.292030,7.263944,17.484060,14.287802,179657.93,11379.28,28.872319
10,50025,4.351355,6.759038,4.851568,1153,4555.93,79.819271,6.844071,14.511938,13.007473,13559.58,1175.68,26.774648
11,50028,4.312033,5.803293,5.210244,171,731.48,90.074878,6.780488,15.581657,12.890366,2189.34,152.12,30.061341
12,50033,3.690500,5.935167,5.890675,458,1529.42,76.367333,7.633333,17.652911,11.060667,4582.04,356.11,25.490333
13,50035,4.258882,2.163546,5.836132,831,3226.09,30.876134,2.654952,17.480833,12.751949,9664.23,677.19,10.306997
14,50036,4.291196,10.334971,5.394666,10573,47756.71,128.019194,11.588994,16.148798,12.827916,141982.36,11145.17,42.951151
15,50044,2.060667,13.800000,3.441206,384,610.02,121.796000,25.600000,10.305746,6.175333,1826.94,207.00,40.668000
16,50046,4.215946,2.985405,5.279956,121,478.32,38.524054,3.270270,15.807612,12.602432,1425.39,110.46,12.927568
17,50047,3.698475,13.435052,5.402289,2140,8920.70,156.402123,18.093519,16.116477,11.015289,25870.38,2311.97,53.431740
18,50048,3.667143,9.185714,5.908503,420,1354.17,145.023214,15.000000,17.718163,10.996786,4060.65,257.20,48.363214
19,50049,4.777308,8.234945,5.675103,2832,12295.25,127.131126,9.140110,17.000602,14.308571,36768.20,2621.54,42.438365
20,50054,3.862349,6.918349,5.051184,1177,4264.17,91.666810,8.308190,15.130560,11.557422,12749.19,1067.11,30.651668
21,50056,3.990909,13.159091,4.037403,300,1014.42,138.280909,13.636364,12.107143,11.968636,3042.18,289.50,46.110000
22,50058,5.203029,7.251176,5.758812,665,2621.76,87.010441,7.529412,17.247035,15.573265,7828.10,636.45,29.084912
23,50060,5.210092,6.346330,4.936151,666,2878.96,78.932385,6.110092,14.764190,15.580459,8603.63,691.75,26.412477
24,50061,4.240000,42.750000,5.653333,228,739.80,554.370000,57.000000,16.950000,12.712500,2217.48,171.00,184.950000
25,50069,3.744643,8.070306,4.944313,765,2732.88,96.891224,11.433673,14.790870,11.171276,8153.96,669.18,32.435510
26,50071,3.679091,11.345455,5.081028,174,610.02,165.572727,15.818182,15.157024,10.972727,1821.30,124.80,55.456364
27,50072,3.923125,8.530313,5.466353,261,953.43,89.207812,8.156250,16.365424,11.744375,2854.65,272.97,29.794687
28,50075,3.909737,6.718026,5.445512,519,2102.45,81.947632,6.828947,16.275058,11.631316,6228.02,510.57,27.663816
29,50076,3.975789,14.368421,3.939248,276,960.06,151.035789,14.526316,11.757268,11.883158,2869.68,273.00,50.529474
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,52639,2.162647,8.047059,5.792437,258,600.93,137.370882,30.176471,17.322535,6.447647,1790.61,120.00,45.909706
380,52641,4.312751,9.032608,5.930011,8728,39053.29,117.318334,9.551978,17.755140,12.902402,116044.34,9086.91,39.335705
381,52653,3.805228,5.485818,5.062219,984,3278.71,74.780349,7.303179,15.174529,11.406630,9826.81,783.68,24.940022
382,52655,4.198621,7.411094,6.600296,7549,31137.66,118.634415,11.518496,19.751688,12.556721,93070.45,6596.97,39.620875
383,52656,5.999648,8.838028,5.901841,1276,7038.36,148.636056,8.985915,17.694816,17.990070,21106.32,1255.00,49.565915
384,52722,4.742371,8.272642,5.887173,36970,188720.59,121.130006,10.052824,17.630704,14.195584,565213.18,34434.76,40.455749
385,52726,4.039424,2.011037,5.346469,794,2888.92,24.911009,2.288184,16.013864,12.093718,8644.12,697.83,8.325418
386,52728,3.471111,12.046296,5.242892,432,1375.66,152.091852,16.000000,15.665873,10.351852,4106.48,325.25,50.950370
387,52730,4.460442,8.353009,5.109211,1174,3970.54,105.309646,10.389381,15.306087,13.360973,11899.99,943.89,35.137522
388,52732,4.380684,8.209834,5.883872,21479,88658.75,123.397377,10.260860,17.630295,13.123284,265503.45,19079.87,41.184549
389,52733,4.099203,8.326642,5.146057,2434,8548.43,116.462071,10.816999,15.424444,12.281160,25621.55,1787.47,38.861668
390,52738,2.952525,9.874196,5.670825,2587,5183.20,146.390468,39.833196,16.996001,8.847144,15531.72,1052.65,48.837288
391,52742,4.405584,22.075887,4.583863,2242,10582.11,236.702538,17.490935,13.635339,13.063825,31029.40,2446.82,83.451107
392,52747,4.237538,3.157795,4.948458,667,2389.84,36.662513,3.420513,14.812274,12.680513,7149.19,615.77,12.255590
393,52748,4.300245,5.780145,5.875860,3958,15404.78,79.866590,8.834099,17.588233,12.857182,46016.09,3471.05,26.736331
394,52751,4.192653,4.986327,5.881819,259,944.81,57.435714,5.285714,17.582958,12.500000,2814.35,244.33,19.281837
395,52753,5.291918,8.418923,8.229033,4256,20933.38,212.220331,13.176209,24.659420,15.854106,62708.47,3118.51,70.796314
396,52761,4.296525,5.816026,5.864567,20368,89129.64,79.899147,7.181593,17.563266,12.854843,266817.46,19137.64,26.715408
397,52768,3.247647,6.508529,4.924814,251,733.35,64.682647,7.382353,14.767577,9.739118,2199.21,221.29,21.569118
398,52772,4.294679,6.642348,5.686384,2947,11503.15,94.060546,7.809498,17.024180,12.844315,34386.92,2603.32,31.438948
399,52776,5.046650,4.888357,7.386008,1206,5559.62,84.057712,8.245509,22.137748,15.126030,16654.56,1067.41,28.058033
400,52777,4.294211,4.111579,5.557619,81,299.63,47.054737,4.263158,16.643678,12.838947,894.04,78.12,15.770000
401,52778,3.623844,5.089623,5.057175,864,2947.61,70.891834,7.449107,15.148202,10.849361,8824.96,775.43,23.652654
402,52802,3.416082,6.672616,5.942202,15072,33445.02,89.214384,14.787554,17.808241,10.231230,100179.48,7436.58,29.781484
403,52803,3.953066,9.252215,6.565751,14349,34267.51,149.403696,19.342553,19.673228,11.833845,102703.04,6306.45,49.867448
404,52804,4.139408,8.965435,6.294377,33814,125356.71,140.040272,15.826117,18.857147,12.397127,375470.88,24901.50,46.741333
405,52806,4.677462,9.282382,5.618753,16106,60810.53,118.545833,10.326636,16.823890,14.000380,181948.52,13983.10,39.587902
406,52807,4.945154,13.664293,6.267828,39965,199253.77,207.861734,15.157978,18.754750,14.785964,596547.82,39654.35,69.450184
407,56201,5.624500,12.150000,6.652857,276,1362.78,204.336000,13.800000,19.950381,16.866500,4086.72,243.00,68.139000
408,712-2,5.429027,5.521081,6.101943,1021,5067.98,82.086432,5.518919,18.287049,16.267459,15185.99,1021.40,27.394486

In [57]:
zip_economics = zip_sum1_df.describe()
zip_economics

,Unit_Margin mean,Volume Sold (Liters) mean,Gross_Margin_per_Liter mean,Bottles Sold sum,Gross_Margin sum,Sale (Dollars) mean,Bottles Sold mean,Revenue_per_Liter mean,State Bottle Retail mean,Sale (Dollars) sum,Volume Sold (Liters) sum,Gross_Margin mean
count,409.000000,409.000000,409.000000,409.000000,409.000000,409.000000,409.000000,409.000000,409.000000,4.090000e+02,409.000000,409.000000
mean,4.478848,8.444306,5.475616,5312.616137,23285.925697,111.474184,9.845367,16.391895,13.398114,6.962998e+04,4851.157335,37.312706
std,0.847453,3.865844,1.078871,10692.295033,48869.945345,54.777782,5.116654,3.240266,2.543043,1.462681e+05,9605.821665,18.340656
min,1.515000,1.283333,3.173605,6.000000,30.000000,24.911009,2.288184,9.474014,4.540000,9.000000e+01,4.500000,8.325418
25%,4.076296,6.189922,4.947954,362.000000,1362.780000,79.899147,6.849671,14.806887,12.153020,4.086720e+03,326.360000,26.774648
50%,4.496012,7.877163,5.389800,994.000000,3959.950000,104.799590,9.169748,16.131523,13.462229,1.182521e+04,964.550000,34.990641
75%,4.866614,10.015967,5.887173,5054.000000,21699.110000,129.440076,11.490196,17.630704,14.558562,6.499227e+04,4932.290000,43.346382
max,13.850294,42.750000,18.435410,75492.000000,356316.110000,554.370000,57.000000,55.282316,41.530760,1.068201e+06,69711.670000,184.950000